/* Reset básico para eliminar márgenes y padding por defecto */
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilo para la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 25px; /* Se incrementa el padding para crear más espacio */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    width: 96,5%;
}


.navbar-left {
    display: flex;
    align-items: center;
}

.search-bar {
    padding: 8px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: white;
    color: #333;
    flex-grow: 1; /* Para que crezca y se ajuste a la pantalla */
}

.search-button {
    padding: 8px 12px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #777;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f1c40f;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #f1c40f;
}

.cart-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    transition: color 0.3s;
    margin-right: 50px; /* Ajuste del margen derecho para crear espacio con el borde */
}

.cart-icon {
    width: 20px;
    height: 20px;
}

/* Botones para dispositivos móviles */
.menu-toggle {
    display: none; /* Oculto por defecto */
    font-size: 1.5em;
    cursor: pointer;
    color: white;
}

/* Responsive con media queries */
@media (max-width: 768px) {
    /* Cambiar a un diseño de columna para pantallas pequeñas */
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    /* Ocultar enlaces y mostrar menú de hamburguesa */
    .nav-links {
        display: none; /* Oculto por defecto */
        flex-direction: column;
        gap: 10px;
    }

    .menu-toggle {
        display: block; /* Mostrar en pantallas pequeñas */
    }
}

/* Estilos para menú desplegable en pantallas pequeñas */
.menu-open .nav-links {
    display: flex; /* Mostrar cuando el menú está abierto */
}

/* Banner con texto desplazable */

.scrolling-banner {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.scrolling-text-wrapper {
    display: flex;
    animation: scroll-left 34s linear infinite;
    transform: translateX(0);
}

.scrolling-text {
    display: inline-block;
    padding-top: 5px;
    margin-right: 30px; /* Asegura 30px de espacio entre elementos */
}

/* Asegurarse de que el separador también tenga espacio */
.separator {
    display: inline-block;
    margin-right: 30px; /* Espacio entre elementos del texto */
}

/* Animación para el desplazamiento continuo */
@keyframes scroll-left {
    0% {
        transform: translateX(0%); 
    }
    100% {
        transform: translateX(-100%); 
    }
}
/* Estilo para el carrusel */
.carousel {
    position: relative;
    width: 100%; /* El carrusel ocupa todo el ancho */
    max-width: 100%; /* El carrusel se adapta al ancho de la pantalla */
    height: 500px; /* Altura fija */
    margin: auto; /* Centrar el carrusel */
    overflow: hidden; /* Para ocultar imágenes fuera del contenedor */
}

.carousel-images {
    display: flex; /* Mantiene las imágenes en una fila */
    transition: transform 0.5s ease-in-out; /* Transición suave */
    height: 100%; /* Abarca toda la altura */
}

.carousel-images img {
    flex: 1; /* Mantiene las imágenes del mismo tamaño */
    min-width: 100%; /* Cada imagen ocupa todo el ancho */
    height: 100%; /* Cada imagen ocupa toda la altura */
    object-fit: cover; /* Las imágenes llenan el espacio sin distorsión */
}

/* Botones para cambiar de imagen */
.carousel-btn {
    position: absolute;
    top: 50%; /* Posiciona en el centro verticalmente */
    transform: translateY(-50%); /* Centrar verticalmente */
    background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    color: white; /* Color de las flechas */
    border: none; 
    font-size: 2em; /* Tamaño para flechas */
    padding: 10px; /* Espacio alrededor */
    cursor: pointer; /* Cursor de puntero */
    z-index: 1; /* Asegura que los botones estén sobre las imágenes */
}

/* Botón para la imagen anterior */
.prev-btn {
    left: 10px; /* Posición a la izquierda */
}

/* Botón para la imagen siguiente */
.next-btn {
    right: 10px; /* Posición a la derecha */
}

/* Puntos de navegación */
.carousel-dots {
    text-align: center; /* Centra los puntos */
    position: absolute;
    bottom: 10px; /* Posición en la parte inferior */
    width: 100%; /* Abarca todo el ancho */
    z-index: 1; /* Para estar sobre las imágenes */
}

/* Estilo para cada punto */
.dot {
    height: 10px; 
    width: 10px; 
    background-color: rgb(0, 0, 0); /* Color predeterminado para los puntos */
    border-radius: 50%; /* Forma redonda */
    display: inline-block; 
    margin: 0 5px; /* Espacio entre puntos */
    cursor: pointer; 
}

/* Punto seleccionado */
.dot.active {
    background-color: rgb(255, 145, 0); /* Color para el punto activo */
}

/* Media queries para diferentes tamaños de pantalla */
@media (min-width: 768px) {
    /* Cambios para pantallas medianas o más grandes */
    .carousel {
        height: 600px; /* Cambia la altura para pantallas más grandes */
    }

    .carousel-images img {
        object-fit: cover; /* Asegura que las imágenes se adapten correctamente */
    }
}

@media (min-width: 1024px) {
    /* Cambios para pantallas más grandes */
    .carousel {
        height: 670px; /* Altura específica para pantallas más grandes */
    }
}


/* Estilo para el logo */

.nabar-logo img {
    height: 50px !important; /* Ajusta la altura del logo */
    width: auto !important; /* Mantiene la proporción del logo */
    cursor: pointer !important; /* Cambia el cursor al pasar por el logo */
    transition: transform 0.3s !important; /* Suavidad en la transición */
}

.nabar-logo img:hover {
    transform: scale(1.1) !important; /* Efecto de ampliación al pasar el ratón */
}


/* Botón flotante para WhatsApp */
.whatsapp-float {
    position: fixed; /* Hace que el botón sea fijo en la pantalla */
    bottom: 40px; /* Posición desde el fondo */
    right: 40px; /* Posición desde el lado derecho */
    z-index: 1000; /* Asegura que esté siempre visible */
}

.whatsapp-float {
    display: inline-block; /* Asegura que el botón sea tratado como elemento en línea */
    transition: transform 0.3s; /* Suavidad en la transición */
}

.whatsapp-float:hover {
    transform: scale(1.6); /* Efecto de aumento al pasar el ratón */
}


.image-links {
    text-align: center; /* Centra el texto y las imágenes */
    margin-top: 10px; /* Espacio desde la parte superior */
    margin-bottom: 10px; /* Espacio desde la parte inferior */
}

.image-links h2 {
    margin: 10px 0; /* Espacio de 10px arriba y abajo */
}

.image-container {
    display: grid; /* Usar grid para disposición flexible */
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    gap: 10px; /* Espacio entre elementos */
}

.image-container a:first-child {
    grid-column: 1; /* Primera imagen en la primera columna */
    grid-row: 1 / span 2; /* Primera imagen abarca dos filas */
    height: auto; /* Mantener altura automática */
}

.image-container a:nth-child(2) {
    grid-column: 2; /* Segunda imagen en la segunda columna */
    grid-row: 1; /* Segunda imagen en la primera fila */
}

.image-container a:nth-child(3) {
    grid-column: 2; /* Tercera imagen en la segunda columna */
    grid-row: 2; /* Tercera imagen en la segunda fila */
}

.image-container img {
    width: 100%; /* Ajusta el ancho de las imágenes al contenedor */
    height: auto; /* Mantener proporción de las imágenes */
    border-radius: 5px; /* Bordes redondeados */
    transition: transform 0.3s; /* Suavidad para el efecto hover */
}

.image-container img:hover {
    transform: scale(1.02); /* Efecto de ampliación al pasar el ratón */
}


/* CSS para el pie de página */
.footer {
    background-color: #333;
    color: white;
    padding: 20px 0; /* Espacio en la parte superior e inferior */
}

.footer-content {
    display: flex; /* Distribuir en línea */
    justify-content: space-between; /* Espacio entre secciones */
    align-items: flex-start; /* Alinear al inicio */
    max-width: 1200px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centrar el contenido */
}

.footer-section {
    flex: 1; /* Dividir el espacio equitativamente */
    padding: 20px; /* Espacio interno */
}

.footer-section h2 {
    font-size: 1.5em; /* Tamaño del título */
    border-bottom: 1px solid white; /* Línea debajo del título */
    padding-bottom: 10px; /* Espacio debajo del título */
}

.footer-section p {
    font-size: 1em; /* Tamaño del texto */
}

.footer-section a {
    text-decoration: none; /* Sin subrayado */
    color: white; /* Color blanco */
    transition: color 0.3s; /* Transición para el cambio de color */
}

.footer-section a:hover {
    color: #f1c40f; /* Color dorado al pasar el ratón */
}

.footer-bottom {
    text-align: center; /* Centrar el texto */
    font-size: 0.9em; /* Tamaño de fuente */
    border-top: 1px solid white; /* Línea superior */
    padding: 10px 0; /* Espacio en la parte superior e inferior */
}

.socials {
    display: flex; /* Mostrar iconos en línea */
    gap: 10px; /* Espacio entre iconos */
}

.socials a {
    text-decoration: none; /* Sin subrayado */
    color: white; /* Color por defecto */
}

.socials a:hover {
    color: #f1c40f; /* Color dorado al pasar el ratón */
}




